<!DOCTYPE html>
<html>
<title>卡顿日志分析</title>
<body>
<h3>总卡顿次数: {{ total_pause }}</h3>
<h3>卡顿设备分布:</h3>
<blockquote>
{% for playertype in cnt_device %}
{{ playertype.0 }}:&nbsp;&nbsp;{{ playertype.1 }}<br>
{% endfor %}
</blockquote>
<h3>卡顿CDN分布:</h3>
{% for cdnip_info  in cnt_cdnip %}
    {% ifequal cdnip_info.0 'ip format is invalid' %}
        <p>CDN节点:{{ cdnip_info.0 }} 厂家: <br>
        卡顿客户端数：{{ cdnip_info.2 }}
        </p>
    {% else %}
        <p>CDN节点:{{ cdnip_info.0 }} 厂家:{{ cdnip_info.1 }} <br>
            卡顿客户端数：{{ cdnip_info.2 }}
        </p>
    {% endifequal %}
    <table border="0">
    {% for cdnip2selfip in cdnip_info.3 %}
        <tr><td width="400">{{ cdnip2selfip.0 }}</td><td width="50">{{ cdnip2selfip.1 }}</td><td width="400" align="right">{{ cdnip2selfip.2 }}</td></tr>
    {% endfor %}
    </table>
{% endfor %}
</body>
</html>
